.text {
  color: var(--text);
  text-align: center;
  &--m {
    color: var(--text);
    text-align: center;
  }
}

.bin {
  color: var(--text);
  text-align: center;
}

.morse {
  color: var(--text);
  text-align: center;
}

#text-to-bin {
  border-radius: 0.3rem;
  background: var(--bg);
  color: var(--text);
}

#bin-to-text {
  border-radius: 0.3rem;
  background: var(--bg);
  color: var(--text);
}

#text-to-morse {
  border-radius: 0.3rem;
  background: var(--bg);
  color: var(--text);
}

#morse-to-text {
  border-radius: 0.3rem;
  background: var(--bg);
  color: var(--text);
}

#output-bin {
  border: hidden;
}

#output-text {
  border: hidden;
}

#output-morse {
  border: hidden;
}

#output-text--m {
  border: hidden;
}

.dropdown {
  background: var(--bg-dropdown);
}

a {
  color: var(--text);
  text-decoration: none;
}

.light {
  --bg: var(--gray0);
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
}

.dark {
  --bg: var(--gray5);
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
}
